/*=============================================
=            App Layout            =
=============================================*/
@import 'normalize';

$silver: #e0e0e0;
$light-grey: #bdbdbd;
$grey: #9e9e9e;
$blue: #0d47a1;
$white: #fff;

$xs-padding: 6px;
$sm-padding: 10px;
$md-padding: 10px;
$sm-margin: 1em;
$md-margin: 1em;

* {
  box-sizing: border-box;
}
html, body, #root {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: sans-serif;
  font-size: 14px;
}
.app .header {
  background: $white;
}
.app .main {
  flex: 1;
}


/*=============================================
=            card            =
=============================================*/
.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


/*=============================================
=            TopBar            =
=============================================*/
.topbar {
  display: flex;
  padding: $sm-padding;
}


/*=============================================
=            Controls            =
=============================================*/
.ctrl-btn {
  padding: 0 $md-padding;
  color: $blue;
  background: $white;
  outline: 0;
  border: 1px solid $blue;
  border-right: 0; 
}
.logo {
  height: 100%;
}


/*=============================================
=            SearchBar            =
=============================================*/
.searchbar {
  width: 70%;
  position: relative;
  margin-right: $md-margin;
  border: 1px solid $blue;
  transition: border 1s;
}
.search-input {
  width: 100%;
  //height: 30px;
  padding: $sm-padding 47px;; 
  outline: 0;
  border: 0;
}
.search-button {
  position: absolute;
  right: 1px;
  top: 0;
  bottom: 0;
  border: 0;
  color: $blue;
  background: $white;
  outline: 0;
}
.search-logo {
  position: absolute;
  left:0;
  top: 0;
  bottom: 0;
  border: 0;
  color: $blue;
  background: $white;
  outline: 0;
  height: 100%;
}
.searchbar:focus, .searchbar:hover {
  //border: 2px solid $blue;
  outline: 0;
}

/*=============================================
=            SelectBar            =
=============================================*/
.selectbar {
  width: 30%;
  position: relative;
  cursor: pointer;
}
.selectbar .select {
  position: relative;
  border: 1px solid $blue;
  transition: border 1s;
}

.select-options {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;

  list-style-type: none;
  background: $white;
  border: 1px solid $blue;
  border-top: 0;

  @extend .card;
  z-index: 100;
}
.select-option {
  display: block;
  background: $white;
  padding: $sm-padding $sm-padding;
}

.select-option:hover {
  background: $silver;
}
.select-input {
  width: 100%;
  //height: 30px;
  padding: $sm-padding;
  outline: 0;
  border: 0;
  cursor: pointer;
}
.select-button {
  @extend .search-button;
}

/*=============================================
=            tabbar            =
=============================================*/
.tabbar {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.tabs {
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  @extend .card
}
.tab {
  flex: 1;
  padding: $sm-padding $sm-padding;
  list-style-type: none;
  text-transform: capitalize;
  border-bottom: 2px solid $white;
  //truncate
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.tab.active {
  border-bottom: 2px solid $blue;
}

.tab .storename {
  vertical-align: middle;
}
.tab .favicon {
  height: 16px;
  width: 16px;
  color: $blue;
  vertical-align: middle;
}
.tab .loading {
  vertical-align: middle;
}

 /* Tabs on Scroll */
.app.scrolled  .tabs {
  position: fixed;
  top: 0;
  width: 100%;
  background: $white;
}
.app.scrolled .view {
   margin-top: 3 + $md-margin;
 }


/*=============================================
=            View            =
=============================================*/
.view {
  flex: 1;  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: $md-padding;
}

.view .loader {
  display: none;
}

.view.loading .loader {
  display: block;
}

.view.still-loading .loader {
  display: block;
}


/*=============================================
=            loader            =
=============================================*/
.loader {
  align-self: center;
  margin-right: auto;
  margin-left: auto; 
  border: 5px solid $silver;
  border-top: 5px solid $blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg)}
}


/*=============================================
=            Item            =
=============================================*/
.item {
  width: 100%;
  max-width: 400px;
  margin: $sm-margin;
  @extend .card;
}
.item-img {
  width: auto;
  max-width: 300px;
  height: 300px;
}
















