/*=============================================
=            App Layout            =
=============================================*/
@import 'normalize';

$silver: #e0e0e0;
$light-grey: #bdbdbd;
$grey: #9e9e9e;
$blue: #0d47a1;
$white: #fff;
$black: #000;
$red: #f44336;
$green: #4caf50;

$xs-padding: 0.5rem;
$sm-padding: 1rem;
$md-padding: 1rem;
$sm-margin: 1rem;
$md-margin: 1rem;

* {
  box-sizing: border-box;
}
html, body, #root {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 10px;
}
.app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: sans-serif;
  font-size: 14px;
}
.app .header {
  background: $white;
}
.app .main {
  flex: 1;
}


/*=============================================
=            card            =
=============================================*/
.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}



/*=============================================
=            TopBar            =
=============================================*/
.topbar {
  display: flex;
  padding: $sm-padding;
}


/*=============================================
=            Controls            =
=============================================*/
.ctrl-btn {
  padding: 0 $md-padding;
  color: $blue;
  background: $white;
  outline: 0;
  border: 1px solid $blue;
  border-right: 0; 
}
.logo {
  height: 100%;
}


/*=============================================
=            SearchBar            =
=============================================*/
.searchbar {
  width: 70%;
  position: relative;
  margin-right: $md-margin;
  border: 1px solid $blue;
  transition: border 1s;
}
.search-input {
  width: 100%;
  //height: 30px;
  padding: $sm-padding 47px;; 
  outline: 0;
  border: 0;
}
.search-button {
  position: absolute;
  right: 1px;
  top: 0;
  bottom: 0;
  border: 0;
  color: $blue;
  background: $white;
  outline: 0;
}
.search-logo {
  position: absolute;
  left:0;
  top: 0;
  bottom: 0;
  border: 0;
  color: $blue;
  background: $white;
  outline: 0;
  height: 100%;
}
.searchbar:focus, .searchbar:hover {
  //border: 2px solid $blue;
  outline: 0;
}

/*=============================================
=            SelectBar            =
=============================================*/
.selectbar {
  width: 30%;
  position: relative;
  cursor: pointer;
}
.selectbar .select {
  position: relative;
  border: 1px solid $blue;
  transition: border 1s;
}

.select-options {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;

  list-style-type: none;
  background: $white;
  border: 1px solid $blue;
  border-top: 0;

  @extend .card;
  z-index: 100;
}
.select-option {
  display: block;
  background: $white;
  padding: $sm-padding $sm-padding;
}

.select-option:hover {
  background: $silver;
}
.select-input {
  width: 100%;
  //height: 30px;
  padding: $sm-padding;
  outline: 0;
  border: 0;
  cursor: pointer;
}
.select-button {
  @extend .search-button;
}

/*=============================================
=            tabbar            =
=============================================*/
.tabbar {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.tabs {
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  @extend .card
}
.tab {
  flex: 1;
  padding: $sm-padding $sm-padding;
  list-style-type: none;
  text-transform: capitalize;
  border-bottom: 2px solid $white;
  //truncate
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  //font 
  text-decoration: none;
  color: $black;
  outline: 0;
  cursor: pointer;
}
.tab.active {
  border-bottom: 2px solid $blue;
}

.tab .storename {
  vertical-align: middle;
}
.favicon {
  height: 16px;
  width: 16px;
  color: $blue;
  vertical-align: middle;
}
.tab .loading {
  vertical-align: middle;
}
.tab.add .fa{
  color: $blue;
}
 /* Tabs on Scroll */
.tabs.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background: $white;
}
.tabs.fixed + .view {
  margin-top: 4rem;
}

/*=============================================
=            View            =
=============================================*/
.view {
  flex: 1;  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: $md-padding;
}

.view .loader {
  display: none;
}

.view.loading .loader {
  display: block;
}

.view.still-loading .loader {
  display: block;
}


/*=============================================
=            loader            =
=============================================*/
.loader {
  align-self: center;
  margin-right: auto;
  margin-left: auto; 
  border: 5px solid $silver;
  border-top: 5px solid $blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg)}
}


/*=============================================
=            Item            =
=============================================*/
.item {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 400px;
  margin: $sm-margin;
  padding: $sm-padding;
  @extend .card;
}

.item-description {
  display: block;
  flex: 1;
  text-decoration: none;
  outline: 0;
}
.item-image {
  text-align: center;
}
.item-image img {
  width: auto;
  max-width: 300px;
  height: 300px;
}
.item-price {
  padding: $sm-padding;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: $blue;
}
.item-text {
  padding: $xs-padding;
  color: #303030;
  font-size: 1.3rem;
  line-height: 2rem;
}
.item-controls {
  display: none;
  justify-content: space-between;
  align-items: baseline;
  padding: $xs-padding;
}
.item-add {
  padding: $sm-padding;
  border: 0;
  background: $white;
  border-radius: 50%;
  color: $blue;
  cursor: pointer;
  outline: 0;
}
.item-link {
  color: $blue;
}


/*=============================================
=            StoresManager            =
=============================================*/
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.1);
}
.close-modal {
  color: $red;
  padding: $xs-padding;
  margin-bottom: $sm-margin;
  background: $white;
  border: 0;
}
.store-manager {
  margin: 10% auto;
  padding: $md-padding;
  width: 100%;
  max-height: 500px;
  max-width: 400px;
  background: $white;
  overflow: auto;
  text-align: right;
  @extend .card-5;
}


/*----------  Store row  ----------*/
.store-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: $sm-padding;
}
.store-row:hover {
  background: $silver;
}
.store-row button {
  background: transparent;
  border: 0;
  padding: $xs-padding;
  cursor: pointer;
  outline: 0;
}
.store-row .add {
  color: $green;  
}
.store-row .remove {
  color: $red;
}

/*----------  store search  ----------*/
.store-search {
  margin-bottom: $sm-margin;
}

.store-search input {
  width: 100%;
  padding: $sm-padding; 
  outline: 0;
  border: 1px solid $blue;
}












