/*=============================================
=            App Layout            =
=============================================*/
@import 'scss/normalize';
@import 'scss/findstore';
@import 'scss/tabbar';
@import 'scss/searchbar';
@import 'scss/item';


* {
  box-sizing: border-box;
}
html, body, #root {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 10px;
}
.app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: sans-serif;
  font-size: 14px;
}
.app .header {
  background: $white;
}
.app .main {
  flex: 1;
}


/*=============================================
=            TopBar            =
=============================================*/
.topbar {
  display: flex;
  padding: $sm-padding;
}


/*=============================================
=            Controls            =
=============================================*/
.ctrl-btn {
  padding: 0 $md-padding;
  color: $blue;
  background: $white;
  outline: 0;
  border: 1px solid $blue;
  border-right: 0; 
}
.logo {
  height: 100%;
}


/*=============================================
=            View            =
=============================================*/
.view {
  flex: 1;  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: $md-padding;
}

.view .loader {
  display: none;
}

.view.loading .loader {
  display: block;
}

.view.still-loading .loader {
  display: block;
}


/*=============================================
=            loader            =
=============================================*/
.loader {
  align-self: center;
  margin-right: auto;
  margin-left: auto; 
  border: 5px solid $silver;
  border-top: 5px solid $blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg)}
}




