/* Color */

$silver: #e0e0e0;
$light-grey: #bdbdbd;
$grey: #9e9e9e;
$blue: #0d47a1;
$white: #fff;
$black: #000;
$red: #f44336;
$green: #4caf50;

/* Padding */

$xs-padding: 0.5rem;
$sm-padding: 0.8rem;
$md-padding: 1rem;

/* Margin */

$sm-margin: 1rem;
$md-margin: 1rem;

/*=============================================
=            card            =
=============================================*/

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  